body {
    background-color: rgb(212, 138, 0);
    font-family: Arizona,ArizonaFallback,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.calculator-base {
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    font-size: 28px;
    border: solid 2px rgb(167, 108, 0);
    border-radius: 40px;
    background-color: rgb(253, 189, 70);
    max-width: 400px;
    margin: auto;
    padding: 10px;
}

.display > input {
    text-align: center;
    font-size: 28px;
    background-color: rgb(255, 242, 220);
    border: solid 10px rgb(255, 211, 131);
    border-radius: 25px;
    color: black;
}

div.buttons {
    display: flex;
    gap: 20px;
    align-items: stretch;
}

.number-buttons{
    margin-top: 10px;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.operand-buttons {
    margin-top: 10px;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.row {
    display: flex;
    gap: 10px;
}

button {
    font-size: 100%;
    padding:  10px 20px;
    flex: 1;
    border: solid 2px rgb(199, 126, 0);
    border-radius: 100px;
    background-color: rgb(255, 242, 220);
}

.dot {
    flex: 0.19;
}


.hover {
    border: solid 2px rgb(255, 242, 220);
    background-color: rgb(199, 126, 0);
    color: white;
}

button:hover {
    cursor: pointer;
}

.error {
    font-size: 16px;
    text-align: center;
    color: red;
}

.hidden {
    display: none;
}

.marker {
    text-align: center;
    background-color: rgb(255, 242, 220);
    color: black;
    margin: auto;
    margin-top: 20px;
    padding: 10px 20px;
    border: solid 2px rgb(143, 93, 0);
    border-radius: 100px;
    max-width: max-content;
    cursor: default;
}

.instructions {
    text-align: center;
    max-width: 500px;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(255, 242, 220);
    border-radius: 50px;
    padding: 10px 20px;
    display: none;
}